/* Defining CSS variables */
:root {
  --heading: #0070c0;
  --heading-background: #bfbfbf;
}

* {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  font-size: small;
  font-weight: 400;
  padding: 0px;
  border: 0px;
}
i {
  color: #424040;
  padding: 5px;
}
/* .heading {
  background-color: var(--heading-background);
  max-width: fit-content;
  justify-content: center;
  margin-left: 20px;
} */
.heading h3 {
  padding: 2px;
  color: var(--heading);
}
.patient-details {
  background-color: #c4edd6;
}

.patient-details-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px;
}
.patient-info {
  background-color: #c4d6c0;
  padding: 10px 100px 10px 0px;
}
.patient-info-div {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #f6e5e3;
  padding: 10px 0px 10px 0px;
}
.patient-info-orangeBox {
  background-color: #f6782b;
  width: 100px;
  height: 180px;
}
.patient-alert {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}
.patient-alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.patient-queue {
  background-color: #fffae7;
}
.patient-activities-container {
  background-color: #ffffff;
  margin-bottom: 5px;
}
/* main buttons */
.main-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-button {
  background-color: #7a7f93;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  width: 20%;
  margin: 5px;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-button {
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  width: 80%;
  margin: 5px;
}
.activity-button i {
  color: #ffffff;
}

.patient-status-description {
  background-color: #ffffff;
}

.text-editor {
  background-color: #f0f1f5;
  padding: 10px;
}
.text-editor-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.text-editor-icons {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px;
}
.select {
  outline: none;
}
.icon {
  color: #536e7e;
  border: none;
  padding: 2px;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
.icon i {
  color: #536e7e;
}
.icon-left-border {
  border: none;
  padding: 2px 2px 2px 4px;
  margin: 0px 4px 0px 1px;
  cursor: pointer;
  border-left: 0.5px solid #c9c8c8;
}
.icon-left-border i {
  color: #536e7e;
}
.text-editor-textarea {
  background-color: #d7e3bf;
  outline: none;
  border: none;
  padding: 10px;
  width: 60%;
  height: 200px;
}
.text-editor-button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}
.text-editor-button {
  background-color: #7a7f93;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  width: 20%;
  margin: 5px;
}
.hedder {
  background-color: #595959;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 6px 0px;
}
.status {
  outline: none;
  background-color: #595959;
  color: #ffffff;
  padding: 5px;
}
.status option {
  padding: 10px; /* Add padding to all options */
  border: none; /* Remove default border */
}
.status option.planned {
  background-color: yellow;
  color: #000000;
}
.status option.progress {
  background-color: rgb(248, 163, 5);
  color: #000000;
}
.status option.scheduled {
  background-color: darkorchid;
  color: #000000;
}
.status option.complete {
  background-color: green;
  color: #000000;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .patient-info {
    background-color: #c4d6c0;
    padding: 10px 0px 10px 0px;
  }
  .patient-info-orangeBox {
    background-color: #f6782b;
    width: 50px;
    height: 180px;
  }
  .button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .activity-button {
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 5px;
  }
  .text-editor-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
