/* Defining CSS variables */
:root {
  --heading: #0070c0;
  --heading-background: #bfbfbf;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  border: 0px;
}
i {
  color: #424040;
}
/* .heading {
  background-color: var(--heading-background);
  max-width: fit-content;
  justify-content: center;
  margin-left: 20px;
} */
.heading h3 {
  padding: 2px;
  color: var(--heading);
}
.patient-details {
  background-color: #c4edd6;
}

.patient-details-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px;
}
.patient-info {
  background-color: #c4d6c0;
  padding: 10px 100px 10px 0px;
}
.patient-info-div {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #f6e5e3;
  padding: 10px 0px 10px 0px;
}
.patient-alert {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}
.patient-alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.patient-queue {
  background-color: #fffae7;
}
